---
- hosts: all
  become: yes
  tasks:

    - name: copy Dockerfile into Remote machine
      copy:
        src: Dockerfile
        dest: .

    - name: copy .war file into Remote machine
      copy:
        src: webapp.war
        dest: .

    - name: stop the running container
      command: docker stop customcontainer
      ignore_errors: true

    - name: remove the running container
      command: docker rm customcontainer
      ignore_errors: true

    - name: remove the running image
      command: docker rmi customimage
      ignore_errors: true

    - name: create omarimage from dockerfile
      command: docker build -t omarimage .

    - name: create and run container
      command: docker run -d -p 8080:8080 --name sidikcontainer omarimage

